{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}<br>
            {{ form.username(class="form-control", size=32) }}<br>
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.username.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(class="form-control", size=32) }}<br>
            {% if form.password.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-check mb-3">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
{% endblock %}